// Fonts
@font-face {
  font-family: "Glacial Indifference";
  src: url("~/assets/fonts/GlacialIndifference-Regular.woff") format("woff"), url("~/assets/fonts/GlacialIndifference-Regular.ttf")  format("truetype");
}

$font-logo: "Glacial Indifference", serif;
$font-primary: "Cardo", serif;
$font-secondary: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Colors
$color-text: #000;
$color-text-light: #FFFFFF;
$color-emphasis: red; //red 
$color-emphasis-alt: rgb(252, 241, 19); //yellow 
$color-bg-0: #FFFFFF;
$color-bg-1: #F0F0F0;
$color-bg-2: #B6B6B6; //magnesium
$color-bg-light: #FFFFFF; //white
$color-bg-dark: #161c20; //almost black

// Media breakpoints, taken from https://medium.com/developing-with-sass/refactoring-my-simple-sass-breakpoint-mixin-71205dd6badd
$xs: ( max:  767px );
$sm: ( min:  768px );
$md: ( min:  992px );
$lg: ( min: 1200px );
$sm-only: ( min: map-get($sm, min), max: map-get($md, min) - 1 );
$md-only: ( min: map-get($md, min), max: map-get($lg, min) - 1 );
$bulma: ( min:  1008px );

@mixin breakpoint($map) {
  $query: "";
  @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
  @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
  @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
  @media screen and #{$query} { @content; }
}