.statement-large {
  font-family: $font-primary;
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;

  @include breakpoint($bulma) {
    font-size: 2.5em;
  }
}

.add-emphasis {
  text-decoration: underline;
}

.statement.hero {
  &.is-fullheight {
    min-height: calc(100vh - 75px -6rem);
  }
}

.page-content {
  text-align: left;
  font-family: $font-primary;
}

.index {
  > section:not(.hero) {
    margin-top: 20px;
  }
}

.hide-on-load {
  opacity: 0;
}

.hide-desktop {
  @include breakpoint($md) {
    display: none !important;
  }
}
.hide-mobile {
  @include breakpoint($xs) {
    display: none !important;
  }
}