.statement-large {
  font-family: $font-primary;
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;

  @include breakpoint($bulma) {
    font-size: 2.5em;
  }
}

.add-emphasis {
  text-decoration: underline;
}

.statement.hero {
  &.is-fullheight {
    min-height: calc(100vh - 75px -6rem);
  }
}

.page-content {
  text-align: left;
  font-family: $font-primary;
}

.index {
  > section:not(.hero) {
    margin-top: 20px;
  }
}

.hide-on-load {
  opacity: 0;
}

.hide-desktop {
  @include breakpoint($md) {
    display: none !important;
  }
}
.hide-mobile {
  @include breakpoint($xs) {
    display: none !important;
  }
}

.cart-icon.button {
  display: inline-block;
  
  svg {
  }
}

.readonly {
  background-color: $color-medium-gray !important;

  &:hover {
    cursor: not-allowed;
  }
}

.notice {
  font-size: 10px;
  line-height: 1.1;
  display: block;
  margin-top: 10px;
}

.modal {
  z-index: -12000 !important;
  display: flex !important;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  .modal-background:hover :not(.white-bg) {
    cursor: pointer;
  }
  .modal-background.white-bg {
    background: rgba(white, 1);
  }

  .modal-content {
    &.modal-picture {
      margin: 0;
    }

    .intro {
      line-height: 1.1;
      margin-bottom: 15px;
    }
  }

  .modal-close {
    &.dark-bg {
      background: $color-medium-gray;
    }
  }

  &.is-active {
    visibility: visible;
    opacity: 1;
    z-index: 12000 !important;
  }
}

.button {
  border-radius: 0 !important;
}