.container {
  padding: 0 20px;
}

body.modal-open {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

html {
  overflow: visible !important;
}

.page-wrapper {
  max-width: 100%;
  overflow-x: hidden;  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgba($color-emphasis-alt, 0.05);
}

.section {
  text-align: center;

  @include breakpoint($md) {
    text-align: left;
  }
}