/* page */
.page-enter-active, .page-leave-active {
  transition: opacity .1s;
}
.page-enter, .page-leave-active {
  background: white;
  opacity: 0;
}

/* bounce */
.bounce-enter-active {
  animation: bounceIn .5s;
}
.bounce-leave-active {
  animation: bounceOut .3s;
}

/* across */
.across-enter,
.across-leave-active {
  animation: acrossIn 0.5s;
}

.across-enter,
.across-leave-active {
  animation: acrossOut 0.5s;
}

/* Animations */
@keyframes bounceIn {
  0% { transform: scale(0.9) }
  50% { transform: scale(1.03) }
  100% { transform: scale(1) }
}
@keyframes bounceOut {
  0% { transform: scale(1) }
  50% { transform: scale(1.03) }
  100% { transform: scale(0.9); opacity: 0.1 }
}

@keyframes acrossIn {
  0% { transform: translate3d(-100%, 0, 0) }
  100% { transform: translate3d(0, 0, 0) }
}

@keyframes acrossOut {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(100%, 0, 0) }
}

@keyframes appearIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes appearOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

@keyframes spin {
  0% { transform: scale(1) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1) }
}

@keyframes movingBackground {
  0% { background-color: $color-emphasis; }
  50% { background-color: $color-emphasis-alt; }
  100% { background-color: $color-emphasis; }
}